<div id="kt_setkpiprocess" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="setkpiprocess" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'lg': '500px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_setkpiprocess_toggle" data-kt-drawer-close="#kt_setkpiprocess_close">
    <div class="card shadow-none border-0 rounded-0">
        <div class="card-header" id="kt_setkpiprocess_header">
            <h3 class="card-title fw-bold text-dark">
                Performans Anahtar Değerlerinizi Giriniz.
            </h3>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon btn-active-light-primary me-n5" id="kt_setkpiprocess_close">
                    <i class="ki-outline ki-cross fs-1"></i>
                </button>
            </div>
        </div>
        <div class="card-body position-relative" id="kt_setkpiprocess_body">
            <div id="kt_setkpiprocess_scroll" class="position-relative scroll-y me-n5 pe-5" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_setkpiprocess_body" data-kt-scroll-dependencies="#kt_setkpiprocess_header, #kt_setkpiprocess_footer" data-kt-scroll-offset="5px">
                <div class="w-100 p-5">
                    <div class="d-flex align-items-center mb-8">
                        <span class="bullet bullet-vertical h-40px bg-success"></span>
                        <div class="form-check form-check-custom form-check-solid mx-5">
                            <input class="form-check-input" type="radio" value="" name="processkpi">
                        </div>
                        <div class="flex-grow-1">
                            <a href="#" class="text-gray-800 text-hover-primary fw-bold fs-6">KPI - 1</a>

                            <span class="text-muted fw-semibold d-block">Son Güncellenme Tarih: 12-12-2023</span>
                        </div>
                        <span class="badge badge-light-success fs-8 fw-bold">3 / 3</span>
                    </div>
                    <div class="d-flex align-items-center mb-8">
                        <span class="bullet bullet-vertical h-40px bg-success"></span>
                        <div class="form-check form-check-custom form-check-solid mx-5">
                            <input class="form-check-input" type="radio" value="" name="processkpi">
                        </div>
                        <div class="flex-grow-1">
                            <a href="#" class="text-gray-800 text-hover-primary fw-bold fs-6">KPI - 2</a>

                            <span class="text-muted fw-semibold d-block">Son Güncellenme Tarih: 12-12-2023</span>
                        </div>
                        <span class="badge badge-light-success fs-8 fw-bold">1 / 5</span>
                    </div>
                    <div class="d-flex align-items-center mb-8">
                        <span class="bullet bullet-vertical h-40px bg-success"></span>
                        <div class="form-check form-check-custom form-check-solid mx-5">
                            <input class="form-check-input" type="radio" value="" name="processkpi">
                        </div>
                        <div class="flex-grow-1">
                            <a href="#" class="text-gray-800 text-hover-primary fw-bold fs-6">KPI - 3</a>

                            <span class="text-muted fw-semibold d-block">Son Güncellenme Tarih: 12-12-2023</span>
                        </div>
                        <span class="badge badge-light-success fs-8 fw-bold">3 / 5</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer py-5 text-center" id="kt_setkpiprocess_footer">
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <input type="text" class="form-control form-control-solid" placeholder="" name="card_name" value="Mevcut Değer">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <input type="text" class="form-control form-control-solid" placeholder="" name="card_name" value="Beklenen Değer">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                <button type="button" class="btn btn-warning">KPI Düzenle</button>
            </div>
        </div>
    </div>
</div>