<div class="menu menu-rounded menu-active-bg menu-state-primary menu-column menu-lg-row menu-title-gray-700 menu-icon-gray-500 menu-arrow-gray-500 menu-bullet-gray-500 my-5 my-lg-0 align-items-stretch fw-semibold px-2 px-lg-0" id="kt_app_header_menu" data-kt-menu="true">
    <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" data-kt-menu-offset="-50,0" class="menu-item here show menu-here-bg menu-lg-down-accordion me-0 me-lg-2">
        <span class="menu-link">
            <span class="menu-title">Adaso360</span>
            <span class="menu-arrow d-lg-none"></span>
        </span>

        <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown p-0 w-100 w-lg-650px">
            <div class="menu-state-bg menu-extended overflow-hidden overflow-lg-visible" data-kt-menu-dismiss="true">
                <div class="row">
                    <div class="col-lg-12 mb-3 mb-lg-0 py-3 px-3 py-lg-6 px-lg-6">
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <div class="menu-item p-0 m-0">
                                    <a href="#" class="menu-link">
                                        <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                                            <i class="ki-outline ki-element-11 text-primary fs-1"></i>
                                        </span>
                                        <span class="d-flex flex-column">
                                            <span class="fs-6 fw-bold text-gray-800">Performans Takip</span>
                                            <span class="fs-7 fw-semibold text-muted">Raporlamalar /Hedeflerin Tamamlanma Oranları</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="menu-item p-0 m-0">
                                    <a href="/Stratejik-Plan" class="menu-link">
                                        <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                                            <i class="ki-outline ki-menu text-danger fs-1"></i>
                                        </span>
                                        <span class="d-flex flex-column">
                                            <span class="fs-6 fw-bold text-gray-800">Stratejik Plan</span>
                                            <span class="fs-7 fw-semibold text-muted">ADASO @DateTime.Now.Year Stratejik Planı</span>
                                        </span>
                                    </a>
                                </div>

                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="menu-item p-0 m-0">

                                    <a href="#" class="menu-link active">
                                        <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                                            <i class="ki-outline ki-calendar text-info fs-1"></i>
                                        </span>
                                        <span class="d-flex flex-column">
                                            <span class="fs-6 fw-bold text-gray-800">Takvim</span>
                                            <span class="fs-7 fw-semibold text-muted">Etkinlik Takivimi ve Katılımcılar</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="menu-item p-0 m-0">

                                    <a href="#" class="menu-link">
                                        <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                                            <i class="ki-outline ki-category text-success fs-1"></i>
                                        </span>
                                        <span class="d-flex flex-column">
                                            <span class="fs-6 fw-bold text-gray-800">Akredite Maddeleri</span>
                                            <span class="fs-7 fw-semibold text-muted">Akredite Madde Sorgula</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div class="menu-item p-0 m-0">
                                    <a href="#" class="menu-link">
                                        <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                                            <i class="ki-outline ki-chart-simple text-dark fs-1"></i>
                                        </span>
                                        <span class="d-flex flex-column">
                                            <span class="fs-6 fw-bold text-gray-800">Raporlar</span>
                                            <span class="fs-7 fw-semibold text-muted">Faaliyet, Stratejik Plan, Akredite Madde Raporları</span>
                                        </span>
                                    </a>

                                </div>

                            </div>


                            <div class="col-lg-6 mb-3">

                                <div class="menu-item p-0 m-0">

                                    <a href="#" class="menu-link">
                                        <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                                            <i class="ki-outline ki-information text-warning fs-1"></i>
                                        </span>
                                        <span class="d-flex flex-column">
                                            <span class="fs-6 fw-bold text-gray-800">Form</span>
                                            <span class="fs-7 fw-semibold text-muted">Uygun Olmayan Hizmetin Kontrolü Formu</span>
                                        </span>
                                    </a>

                                </div>

                            </div>



                        </div>

                        <div class="separator separator-dashed mx-5 my-5"></div>


                    </div>
                </div>

            </div>

        </div>

    </div>
    <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention me-0 me-lg-2">
        <span class="menu-link">
            <span class="menu-title">Uygulamalarım</span>
            <span class="menu-arrow d-lg-none"></span>
        </span>
        <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-250px">
            <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="ki-outline ki-arrow-right fs-2"></i>
                    </span>
                    <span class="menu-title">Teşvik Sihirbazı</span>
                </span>
            </div>
            <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="ki-outline ki-arrow-right fs-2"></i>
                    </span>
                    <span class="menu-title">Adaso.org.tr</span>
                </span>
            </div>
            <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="ki-outline ki-arrow-right fs-2"></i>
                    </span>
                    <span class="menu-title">Anket</span>
                </span>
            </div>
            <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="ki-outline ki-arrow-right fs-2"></i>
                    </span>
                    <span class="menu-title">Adaso Belgelendirme</span>
                </span>
            </div>
            <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="ki-outline ki-arrow-right fs-2"></i>
                    </span>
                    <span class="menu-title">İstihdam</span>
                </span>
            </div>
            <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="ki-outline ki-arrow-right fs-2"></i>
                    </span>
                    <span class="menu-title">Karbon Ayak İzi</span>
                </span>
            </div>
            <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="ki-outline ki-arrow-right fs-2"></i>
                    </span>
                    <span class="menu-title">Sanayi Kampüsü Kurumsal</span>
                </span>
            </div>
            <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="ki-outline ki-arrow-right fs-2"></i>
                    </span>
                    <span class="menu-title">Yazı ve Duyuru İşlemleri</span>
                </span>
            </div>
            <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="ki-outline ki-arrow-right fs-2"></i>
                    </span>
                    <span class="menu-title">Dosya Yönetimi</span>
                </span>
            </div>

            <div class="menu-item">
                <a class="menu-link" href="#">
                    <span class="menu-icon">
                        <i class="ki-outline ki-arrow-right fs-2"></i>
                    </span>
                    <span class="menu-title">Etkinlikler</span>
                </a>
            </div>
        </div>
    </div>
    <div class="menu-item">
        <a class="menu-link" href="/Destek">
            <span class="menu-title">Yardım</span>
            <span class="menu-arrow d-lg-none"></span>
        </a>
       </div>
    <div class="menu-item">
        <a class="menu-link" href="/UygulamaOrnekleri">
            <span class="menu-title">İyi Uygulama Örnekleri</span>
            <span class="menu-arrow d-lg-none"></span>
        </a>
    </div>
    </div>
 