@using ADASOIdentityServer.AuthServer.UI.Models.ComponentViewDtos

@model BriefCard2Dto


<a href="/KpiDetay" class="card bg-@(Model.BgColor) hoverable card-xl-stretch mb-xl-8">
	<div class="card-body">
		<i class="ki-outline ki-cheque text-gray-100 fs-2x ms-n1"></i>
		<div class="text-gray-100 fw-bold fs-2 mb-2 mt-5">+@(Model.ActivityCount)</div>
		<div class="fw-semibold text-gray-100">@Model.Title</div>
	</div>
</a>