<div id="kt_surveyprocess" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="surveyprocess" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'lg': '500px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_surveyprocess_toggle" data-kt-drawer-close="#kt_surveyprocess_close">
    <div class="card shadow-none border-0 rounded-0">
        <div class="card-header" id="kt_surveyprocess_header">
            <h3 class="card-title fw-bold text-dark">
                Anketlerinizi Tanımlayınız
            </h3>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon btn-active-light-primary me-n5" id="kt_surveyprocess_close">
                    <i class="ki-outline ki-cross fs-1"></i>
                </button>
            </div>
        </div>
        <div class="card-body position-relative" id="kt_surveyprocess_body">
            <div id="kt_surveyprocess_scroll" class="position-relative scroll-y me-n5 pe-5" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_surveyprocess_body" data-kt-scroll-dependencies="#kt_surveyprocess_header, #kt_surveyprocess_footer" data-kt-scroll-offset="5px">
                <div class="w-100 p-5">
                    <div class="pb-10 pb-lg-15">
                        @*<h2 class="fw-bold text-dark"></h2>*@
                        <div class="text-muted fw-semibold fs-6">
                            Bu alanda anket bilgilerinizi girmeniz istenecektir.
                            <a href="#" class="text-primary fw-bold"></a>.
                        </div>
                    </div>

                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <select type="text" class="form-control form-control-solid" placeholder="" name="card_name" value="Başlık">
                            <option>Anket seçiniz</option>
                            <option>Teşhis Araçları Dış Ticaret Analiz Anketi1</option>
                            <option>Teşhis Araçları Dış Ticaret Analiz Anketi2</option>
                        </select>
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <button type="button" class="btn btn-warning">Anket Ekle</button>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex align-items-center bg-light-danger rounded p-5 mb-7">
                                <i class="ki-outline ki-abstract-26 text-warning fs-1 me-5"></i>
                                <div class="flex-grow-1 me-2">
                                    <a href="#" class="fw-bold text-gray-800 text-hover-primary fs-6">Teşhis Araçları Dış Ticaret Analiz Anketi</a>
                                </div>
                                <span class="fw-bold text-warning py-1">33</span>&nbsp;
                                <a href="/FirmaDetay" class="btn btn-icon  btn-active-color-primary btn-sm me-1">
                                    <i class="ki-outline ki-arrow-right fs-2"></i>
                                </a>
                            </div>
                            <div class="d-flex align-items-center bg-light-success rounded p-5 mb-7">
                                <i class="ki-outline ki-abstract-26 text-warning fs-1 me-5"></i>
                                <div class="flex-grow-1 me-2">
                                    <a href="#" class="fw-bold text-gray-800 text-hover-primary fs-6">Teşhis Araçları Dış Ticaret Analiz Anketi</a>
                                </div>
                                <span class="fw-bold text-warning py-1">24</span>&nbsp;
                                <a href="/FirmaDetay" class="btn btn-icon  btn-active-color-primary btn-sm me-1">
                                    <i class="ki-outline ki-arrow-right fs-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer py-5 text-center" id="kt_surveyprocess_footer">
@*            <a href="javascript:void(0)" class="btn btn-bg-body text-primary" onclick="GetModalWorkHours(0)">
                Yeni Çalışma Ekle
                <i class="ki-outline ki-arrow-right fs-3 text-primary"></i>
            </a>
            <a href="javascript:void(0)" class="btn btn-bg-body text-primary" onclick="GetModalArgument(0)">
                Yeni Kanıt Ekle
                <i class="ki-outline ki-arrow-right fs-3 text-primary"></i>
            </a>
            <a href="javascript:void(0)" class="btn btn-bg-body text-primary" onclick="XYZ(0)">
                Yeni Toplantı Ekle
                <i class="ki-outline ki-arrow-right fs-3 text-primary"></i>
            </a>*@
        </div>
    </div>
</div>