<div id="kt_settimingprocess" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="settimingprocess" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'lg': '500px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_settimingprocess_toggle" data-kt-drawer-close="#kt_settimingprocess_close">
    <div class="card shadow-none border-0 rounded-0">
        <div class="card-header" id="kt_settimingprocess_header">
            <h3 class="card-title fw-bold text-dark">
                Süreciniz İçin Zaman Tanımlayınız.
            </h3>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon btn-active-light-primary me-n5" id="kt_settimingprocess_close">
                    <i class="ki-outline ki-cross fs-1"></i>
                </button>
            </div>
        </div>
        <div class="card-body position-relative" id="kt_settimingprocess_body">
            <div id="kt_settimingprocess_scroll" class="position-relative scroll-y me-n5 pe-5" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_settimingprocess_body" data-kt-scroll-dependencies="#kt_settimingprocess_header, #kt_settimingprocess_footer" data-kt-scroll-offset="5px">
                <div class="w-100 p-5">



                </div>
            </div>
        </div>
        <div class="card-footer py-5 text-center" id="kt_settimingprocess_footer">
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <input type="text" class="form-control form-control-solid" placeholder="" name="card_name" value="Başlangıç Tarih">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <input type="text" class="form-control form-control-solid" placeholder="" name="card_name" value="Bitiş Tarih">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                <button type="button" class="btn btn-warning">Zaman Ayarla</button>
            </div>
        </div>
    </div>
</div>