@model UdemyIdentityServer.Database.Models.SystemClientAllowedScopes

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<h3>"@Model.Name" kaydını kalıcı olarak silmek istediğinize emin misiniz?</h3>
<div style="width:60%; margin:auto; margin-top:50px;">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Silme İşlemini Tamamla" class="btn btn-danger" /> |
        <a asp-action="Index">Geri</a>
    </form>
</div>