@model UdemyIdentityServer.Database.Models.Users    
<div class="modal fade" id="kt_modal_create_user" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen p-9">
		<div class="modal-content modal-rounded">
			<div class="modal-header">
				<h2>Kullanıcı Oluştur</h2>

				<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
					<i class="ki-outline ki-cross fs-1"></i>
				</div>
			
			</div>
			
			
			<div class="modal-body scroll-y m-5">
				
				<div class="stepper stepper-links d-flex flex-column" id="kt_modal_create_project_stepper">
					
					<div class="container">
                 

                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="RoleId" class="control-label"></label>
                                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">İsim</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Surname" class="control-label">
                                    Soyisim
                                </label>
                                <input asp-for="Surname" class="form-control" />
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Country" class="control-label">Ülke</label>
                                <input asp-for="Country" class="form-control" />
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City" class="control-label">Şehir</label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Avatar" class="control-label">Logo/Image</label>
                                <input asp-for="Avatar" class="form-control" />
                                <span asp-validation-for="Avatar" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PersonnelTitle" class="control-label">Personel Ünvanı</label>
                                <input asp-for="PersonnelTitle" class="form-control" />
                                <span asp-validation-for="PersonnelTitle" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PersonnelDepartmen" class="control-label">Departman</label>
                                <input asp-for="PersonnelDepartmen" class="form-control" />
                                <span asp-validation-for="PersonnelDepartmen" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PersonnelConsultant" class="control-label">Danışmanlığı</label>
                                <input asp-for="PersonnelConsultant" class="form-control" />
                                <span asp-validation-for="PersonnelConsultant" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TobbUyelikOid" class="control-label"></label>
                                <input asp-for="TobbUyelikOid" class="form-control" readonly="readonly" />
                                <span asp-validation-for="TobbUyelikOid" class="text-danger"></span>
                            </div>
                            <div class="form-group text-right">
                                <input type="submit" value="Kaydet" class="btn btn-primary" />
                            </div>
                        </form>

                        @section Scripts {
                            @{
                                await Html.RenderPartialAsync("_ValidationScriptsPartial");
                            }
                        }
                        @await Component.InvokeAsync("DrawerMainProcess")
                        @await Component.InvokeAsync("DrawerSubProcess")
                        @await Component.InvokeAsync("DrawerAttachmentProcess")
                        @await Component.InvokeAsync("DrawerKPIProcess")
                        @await Component.InvokeAsync("DrawerSurveyProcess")




					</div>
					
				</div>
 
			</div>
 
		</div>
 
	</div>
 
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }