@{
    ViewData["Title"] = "Erişim Engellendi";

}
<!DOCTYPE html>

<html lang="en">

<head>
    <base href="../../" />
    <title>Adana Sanayi Odası</title>
    <meta charset="utf-8" />
    <meta name="description" content="Adana Sanayi Odası" />
    <meta name="keywords" content="Adana Sanayi Odası" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="www.adaso.org.tr" />
    <meta property="og:site_name" content="adaso" />
    <link rel="canonical" href="www.adaso.org.tr" />
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />

    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

</head>

<body id="kt_body" class="app-blank bgi-size-cover bgi-position-center bgi-no-repeat">

    <script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>

    <div class="d-flex flex-column flex-root" id="kt_app_root">

        <style>
            body {
                background-image: url('assets/media/auth/bg1.jpg');
            }

            [data-bs-theme="dark"] body {
                background-image: url('assets/media/auth/bg1-dark.jpg');
            }
        </style>

        <div class="d-flex flex-column flex-center flex-column-fluid">

            <div class="d-flex flex-column flex-center text-center p-10">

                <div class="card card-flush w-lg-650px py-5">
                    <div class="card-body py-15 py-lg-20">

                        <h1 class="fw-bolder fs-2hx text-gray-900 mb-4">Erişim Engellendi</h1>

                        <div class="fw-semibold fs-6 text-gray-500 mb-7">
                            Bu sayfaya erişiminiz bulunmamaktadır.
                        </div>

                        <div class="fw-semibold fs-6 text-gray-500 mb-7">
                            Destek için <a href="mailto:sicil@adaso.org.tr">sicil@adaso.org.tr</a>,
                            adresleriyle iletişime geçebilirsiniz.
                        </div>

                        <div class="fw-semibold fs-6 text-gray-500 mb-7">
                            Ayrıca, daha fazla bilgi için
                            <a href="https://www.adaso.org.tr" target="_blank" rel="noopener noreferrer">Adana Sanayi Odası Kurumsal Web Sitesi</a>'ni ziyaret edebilirsiniz.
                        </div>

                        <div class="mb-3">
                            <img src="assets/media/auth/404.png" class="mw-100 mh-300px theme-light-show" alt="Access Denied" />
                            <img src="assets/media/auth/404-dark.png" class="mw-100 mh-300px theme-dark-show" alt="Access Denied" />
                        </div>

                        <div class="mb-0">
                            <a href="/Users/Index" class="btn btn-sm btn-primary">Anasayfaya Dön</a>
                        </div>

                        <div class="mt-5 text-muted fs-7">
                            <small>İletişim için yukarıdaki e-posta adreslerini kullanabilir veya <a href="https://www.adaso.org.tr/bize-ulasin-27">Bize Ulaşın</a> sayfamızı ziyaret edebilirsiniz.</small>
                        </div>

                    </div>
                </div>

            </div>

        </div>


    </div>

    <script>var hostUrl = "assets/";</script>

    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>

</body>

</html>