@model ADASOIdentityServer.Database.Models.SystemApis

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="ModalCreateGoal" class="app-content">
    @await Component.InvokeAsync("DashBoardNavbar")
    <div class="d-flex flex-wrap flex-stack my-1">
        <h3 class="fw-bold my-2">
            Düzenle
        </h3>
        <div class="d-flex my-2">
            <a class='btn btn-primary btn-sm fw-bolder' asp-action="Index">Geri</a>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <small class="form-text text-muted">API’nin görünen adı. Kullanıcıların listede göreceği isimdir.</small>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Explanation" class="control-label"></label>
                        <input asp-for="Explanation" class="form-control" />
                        <small class="form-text text-muted">API’nin ne işe yaradığını veya kullanım amacını kısaca açıklayın.</small>
                        <span asp-validation-for="Explanation" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SystemName" class="control-label"></label>
                        <input asp-for="SystemName" class="form-control" />
                        <small class="form-text text-muted">Sistem içerisindeki teknik veya benzersiz API adı (genellikle kodda kullanılır).</small>
                        <span asp-validation-for="SystemName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ApiSecrets" class="control-label"></label>
                        <input asp-for="ApiSecrets" class="form-control" />
                        <small class="form-text text-muted">API erişimi için kullanılan gizli anahtar(lar). Güvenli şekilde saklanmalıdır.</small>
                        <span asp-validation-for="ApiSecrets" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Güncelle" class="btn btn-primary" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
