<div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">

	<div class="card mb-5 mb-xl-8">

		<div class="card-body pt-15">

			<div class="d-flex flex-center flex-column mb-5">

				<div class="symbol symbol-125px symbol-circle mb-7">
					<img src="https://kivanctekstil.com.tr/tr/wp-content/uploads/2018/07/homelogo.png" alt="image" />
				</div>

				<a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bold mb-1 text-center">KIVANÇ TEKSTİL SANAYİ VE TİCARET ANONİM ŞİRKETİ</a>

				<div class="fs-5 fw-semibold text-muted mb-6">07 - TEKSTİL SANAYİ</div>
				<!--end::Position-->
				<!--begin::Info-->
				<div class="d-flex flex-wrap flex-center">
					<!--begin::Stats-->
					<div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
						<div class="fs-4 fw-bold text-gray-700">
							<span class="w-75px">500-1000</span>
							<i class="ki-outline ki-arrow-up fs-3 text-success"></i>
						</div>
						<div class="fw-semibold text-muted">Çalışan</div>
					</div>

					<div class="border border-gray-300 border-dashed rounded py-3 px-3 mx-4 mb-3">
						<div class="fs-4 fw-bold text-gray-700">
							<span class="w-50px">FAAL</span>
							<i class="ki-outline ki-arrow-down fs-3 text-danger"></i>
						</div>
						<div class="fw-semibold text-muted">Durum</div>
					</div>


				</div>
				<!--end::Info-->
			</div>

			<div class="d-flex flex-stack fs-4 py-3">
				<div class="fw-bold rotate collapsible" data-bs-toggle="collapse" href="#kt_customer_view_details" role="button" aria-expanded="false" aria-controls="kt_customer_view_details">
					Details
					<span class="ms-2 rotate-180">
						<i class="ki-outline ki-down fs-3"></i>
					</span>
				</div>
				<span data-bs-toggle="tooltip" data-bs-trigger="hover" title="Edit customer details">
					<a href="#" class="btn btn-sm btn-light-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_update_customer">Edit</a>
				</span>
			</div>
			<!--end::Details toggle-->
			<div class="separator separator-dashed my-3"></div>
			<!--begin::Details content-->
			<div id="kt_customer_view_details" class="collapse show">
				<div class="py-5 fs-6">
					<!--begin::Badge-->
					<div class="badge badge-light-info d-inline">Yönetim Kurulu</div>
					<!--begin::Badge-->
					<!--begin::Details item-->
					<div class="fw-bold mt-5">Firma OID</div>
					<div class="text-gray-600">642CC7C8A4B65F</div>
					<!--begin::Details item-->
					<!--begin::Details item-->
					<div class="fw-bold mt-5">Email Adresi</div>
					<div class="text-gray-600">
						<a href="#" class="text-gray-600 text-hover-primary">info@keenthemes.com</a>
					</div>
					<!--begin::Details item-->
					<!--begin::Details item-->
					<div class="fw-bold mt-5">Firma Adresi</div>
					<div class="text-gray-600">
						Zeytinli, Turhan Cemal Beriker Blv. No: 599 No: 599, 01355 Seyhan/Adana

					</div>
					<!--begin::Details item-->
					<div class="fw-bold mt-5">Web Adresi</div>
					<div class="text-gray-600">http://www.kivanctekstil.com.tr</div>
					<!--begin::Details item-->
					<div class="fw-bold mt-5">Telefon Numarası</div>
					<div class="text-gray-600">54238-8693</div>
					<!--begin::Details item-->
					<!--begin::Details item-->
					<div class="fw-bold mt-5">Vergi Numarası</div>
					<div class="text-gray-600">47721155</div>
					<!--begin::Details item-->
				</div>
			</div>
			<!--end::Details content-->
		</div>

	</div>
	<!--end::Card-->
	<!--begin::Card-->
	<div class="card mb-5 mb-xl-8">
		<!--begin::Card header-->
		<div class="card-header mt-6">
			<!--begin::Card title-->
			<div class="card-title flex-column">
				<h3 class="fw-bold mb-1">Danışmanlar</h3>
				<div class="fs-6 text-gray-400">Firma Danışman sayısı : 6</div>
			</div>
			<!--end::Card title-->
			<!--begin::Card toolbar-->
			<div class="card-toolbar">
				<a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">Tümünü Gör</a>
			</div>
			<!--end::Card toolbar-->
		</div>
		<!--end::Card toolbar-->
		<!--begin::Card body-->
		<div class="card-body d-flex flex-column p-9 pt-3 mb-9">
			<!--begin::Item-->
			<div class="d-flex align-items-center mb-5">
				<!--begin::Avatar-->
				<div class="me-5 position-relative">
					<!--begin::Image-->
					<div class="symbol symbol-35px symbol-circle">
						<span class="symbol-label bg-light-danger text-danger fw-semibold">A</span>
					</div>
					<!--end::Image-->
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="fw-semibold">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary">Ali Erdi</a>
					<div class="text-gray-400">8 Bekleyen ve 97 Tamamlanan Görev</div>
				</div>
				<!--end::Details-->
				<!--begin::Badge-->
				<div class="badge badge-light ms-auto">5</div>
				<!--end::Badge-->
			</div>
			<!--end::Item-->
			<!--begin::Item-->
			<div class="d-flex align-items-center mb-5">
				<!--begin::Avatar-->
				<div class="me-5 position-relative">
					<!--begin::Image-->
					<div class="symbol symbol-35px symbol-circle">
						<span class="symbol-label bg-light-danger text-danger fw-semibold">B</span>
					</div>
					<!--end::Image-->
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="fw-semibold">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary">Bahar Gündüzhan</a>
					<div class="text-gray-400">8 Bekleyen ve 97 Tamamlanan Görev</div>
				</div>
				<!--end::Details-->
				<!--begin::Badge-->
				<div class="badge badge-light ms-auto">5</div>
				<!--end::Badge-->
			</div>
			<!--end::Item-->
			<!--begin::Item-->
			<div class="d-flex align-items-center mb-5">
				<!--begin::Avatar-->
				<div class="me-5 position-relative">
					<!--begin::Image-->
					<div class="symbol symbol-35px symbol-circle">
						<img alt="Pic" src="assets/media/avatars/blank.png" />
					</div>
					<!--end::Image-->
				</div>
				<!--end::Avatar-->
				<!--begin::Details-->
				<div class="fw-semibold">
					<a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary">Güneş Artuk</a>
					<div class="text-gray-400">8 Bekleyen ve 97 Tamamlanan Görev</div>
				</div>
				<!--end::Details-->
				<!--begin::Badge-->
				<div class="badge badge-light ms-auto">5</div>
				<!--end::Badge-->
			</div>
			<!--end::Item-->

		</div>
		<!--end::Card body-->
	</div>
	<!--end::Card-->
</div>