@model UdemyIdentityServer.Database.Models.SystemIdentityRosources


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="ModalCreateGoal" class="app-content">
    @await Component.InvokeAsync("DashBoardNavbar")
    <div class="d-flex flex-wrap flex-stack my-1">
        <h3 class="fw-bold my-2">
            System Identity Rosources
        </h3>
        <div class="d-flex my-2">
            <a class='btn btn-secondary btn-sm fw-bolder' asp-action="Index">Geri</a>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-12 ml-auto">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <small class="form-text text-muted">Sistem kaynağının benzersiz adı. Örn: “profile”, “email”.</small>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DisplayName" class="control-label"></label>
                        <input asp-for="DisplayName" class="form-control" />
                        <small class="form-text text-muted">Kullanıcıya gösterilecek isim. Daha anlaşılır ve okunabilir olmalı.</small>
                        <span asp-validation-for="DisplayName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Explanation" class="control-label"></label>
                        <input asp-for="Explanation" class="form-control" />
                        <small class="form-text text-muted">Kaynağın amacı veya ne işe yaradığı hakkında kısa açıklama.</small>
                        <span asp-validation-for="Explanation" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UserClaims" class="control-label"></label>
                        <input asp-for="UserClaims" class="form-control" />
                        <small class="form-text text-muted">Bu kaynağa ait kullanıcı claim’leri. Örn: “role”, “email”, “name”.</small>
                        <span asp-validation-for="UserClaims" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Yeni Oluştur" class="btn btn-primary" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
