<div id="kt_plansurveyprocess" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="plansurveyprocess" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'lg': '500px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_plansurveyprocess_toggle" data-kt-drawer-close="#kt_plansurveyprocess_close">
    <div class="card shadow-none border-0 rounded-0">
        <div class="card-header" id="kt_plansurveyprocess_header">
            <h3 class="card-title fw-bold text-dark">
                Anket Planlayınız.
            </h3>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon btn-active-light-primary me-n5" id="kt_plansurveyprocess_close">
                    <i class="ki-outline ki-cross fs-1"></i>
                </button>
            </div>
        </div>
        <div class="card-body position-relative" id="kt_plansurveyprocess_body">
            <div id="kt_plansurveyprocess_scroll" class="position-relative scroll-y me-n5 pe-5" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_plansurveyprocess_body" data-kt-scroll-dependencies="#kt_plansurveyprocess_header, #kt_plansurveyprocess_footer" data-kt-scroll-offset="5px">
                <div class="w-100 p-5">
                    <div class="card mb-1 mb-xl-3">
                        <div class="card-body pb-0">
                            <div class="d-flex align-items-center mb-5">
                                <div class="d-flex align-items-center flex-grow-1">
                                    <div class="symbol symbol-45px me-5">
                                        <img src="assets/media/avatars/blank.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column">
                                        <a href="#" class="text-gray-900 text-hover-primary fs-6 fw-bold">Anket - 2</a>
                                        <span class="text-gray-400 fw-bold">23.07.2023 - 23.09.2023</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-7">
                                <div class="text-gray-800 mb-5">Outlines keep you honest.They stop you from indulging in poorly thought-out metaphors about driving and keep you focused on the overall structure of your post</div>
                                <div class="d-flex align-items-center mb-5">
                                    <a href="#" class="btn btn-sm btn-light btn-color-muted btn-active-light-success px-4 py-2 me-4">
                                        <i class="ki-outline ki-user fs-2"></i>36
                                    </a>
                                    <a href="#" class="btn btn-sm btn-light btn-color-muted btn-active-light-danger px-4 py-2">
                                        <i class="ki-outline ki-time fs-2"></i>2 Gün Kaldı
                                    </a>
                                </div>
                            </div>
                            <div class="separator mb-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer py-5 text-center" id="kt_plansurveyprocess_footer">
            <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                <select class="form-control form-control-solid">
                    <option>Anket Seçiniz</option>
                    <option>Anket - 1</option>
                    <option>Anket - 2</option>
                    <option>Anket - 3</option>
                </select>
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

            <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                <textarea class="form-control form-control-solid" placeholder="" name="card_name" value="Açıklama">Açıklama</textarea>
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <input type="text" class="form-control form-control-solid" placeholder="" name="card_name" value="Başlangıç Tarih">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <input type="text" class="form-control form-control-solid" placeholder="" name="card_name" value="Bitiş Tarih">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                <button type="button" class="btn btn-warning">Anket Planla</button>
            </div>
        </div>
    </div>
</div>