@model ADASOIdentityServer.Database.Models.Roles

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/assets/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
}
<div id="ModalCreateGoal" class="app-content">
    @await Component.InvokeAsync("DashBoardNavbar")
    <div class="d-flex flex-wrap flex-stack my-1">
        <h3 class="fw-bold my-2">
            Detay
        </h3>
        <div class="d-flex my-2">
            <a asp-action="Edit" class='btn btn-sm btn-primary fw-bolder' asp-route-id="@Model?.Id">Düzenle</a>
            <a class='btn btn-secondary btn-sm fw-bolder' asp-action="Index">Geri</a>
        </div>
    </div>
    <div class="card">
        <dl class="row">
            <dt class="col-sm-2">
                <label>İsim</label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
</div>


@await Component.InvokeAsync("DrawerMainProcess")
@await Component.InvokeAsync("DrawerSubProcess")
@await Component.InvokeAsync("DrawerAttachmentProcess")
@await Component.InvokeAsync("DrawerKPIProcess")
@await Component.InvokeAsync("DrawerSurveyProcess")


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

