<div id="kt_activities" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="activities" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'lg': '900px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_activities_toggle" data-kt-drawer-close="#kt_activities_close">
    <div class="card shadow-none border-0 rounded-0">
        <div class="card-header" id="kt_activities_header">
            <h3 class="card-title fw-bold text-dark">
                Hedef:
                Crm projesi kapsamında Adaso Belge hizmetleri uygulaması(kapasite raporu gibi) yazılacak
            </h3>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon btn-active-light-primary me-n5" id="kt_activities_close">
                    <i class="ki-outline ki-cross fs-1"></i>
                </button>
            </div>
        </div>
        <div class="card-body position-relative" id="kt_activities_body">
            <div id="kt_activities_scroll" class="position-relative scroll-y me-n5 pe-5" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_activities_body" data-kt-scroll-dependencies="#kt_activities_header, #kt_activities_footer" data-kt-scroll-offset="5px">
                <div class="timeline">
                    <div class="timeline-item">
                        <div class="timeline-line w-40px"></div>
                        <div class="timeline-icon symbol symbol-circle symbol-40px me-4">
                            <div class="symbol-label bg-light">
                                <i class="ki-outline ki-message-text-2 fs-2 text-gray-500"></i>
                            </div>
                        </div>
                        <div class="timeline-content mb-10 mt-n1">
                            <div class="pe-3 mb-5">
                                <div class="fs-5 fw-semibold mb-2">Stratejik plan hazırlık toplantısı yapıldı.</div>
                                <div class="d-flex align-items-center mt-1 fs-6">
                                    <div class="text-muted me-2 fs-7">01-01-2023 tarihinde saat 13.30'da eklendi.</div>
                                </div>
                            </div>
                            <div class="overflow-auto pb-5">
                                <div class="d-flex align-items-center border border-dashed border-gray-300 rounded min-w-750px px-7 py-3 mb-5">
                                    <a href="../../demo30/dist/apps/projects/project.html" class="fs-5 text-dark text-hover-primary fw-semibold w-375px min-w-200px">Kaan Kandemir<sub>(kaan.kandemir@adaso.org.tr)</sub></a>
                                    <div class="min-w-175px pe-2">
                                        <span class="badge badge-light text-muted">Bilgi İşlem</span>
                                    </div>
                                    <div class="min-w-125px pe-2">
                                        <span class="badge badge-light-primary">Katılamadı</span>
                                    </div>
                                    @*<a href="../../demo30/dist/apps/projects/project.html" class="btn btn-sm btn-light btn-active-light-primary">Toplantı Detay</a>*@
                                </div>
                                <div class="d-flex align-items-center border border-dashed border-gray-300 rounded min-w-750px px-7 py-3 mb-5">
                                    <a href="../../demo30/dist/apps/projects/project.html" class="fs-5 text-dark text-hover-primary fw-semibold w-375px min-w-200px">Kaan Kandemir<sub>(kaan.kandemir@adaso.org.tr)</sub></a>
                                    <div class="min-w-175px pe-2">
                                        <span class="badge badge-light text-muted">Bilgi İşlem</span>
                                    </div>
                                    <div class="min-w-125px pe-2">
                                        <span class="badge badge-light-primary">Katılamadı</span>
                                    </div>
                                    @*<a href="../../demo30/dist/apps/projects/project.html" class="btn btn-sm btn-light btn-active-light-primary">Toplantı Detay</a>*@
                                </div>
                            </div>

                            <div class="overflow-auto pb-5">
                                <div class="d-flex align-items-center border border-dashed border-gray-300 rounded min-w-700px p-7">
                                    <div class="overlay me-10">
                                        <div class="overlay-wrapper">
                                            <img alt="img" class="rounded w-150px" src="assets/media/stock/600x400/img-29.jpg">
                                        </div>
                                        <div class="overlay-layer bg-dark bg-opacity-10 rounded">
                                            <a href="#" class="btn btn-sm btn-primary btn-shadow">Explore</a>
                                        </div>
                                    </div>
                                    <div class="overlay me-10">
                                        <div class="overlay-wrapper">
                                            <img alt="img" class="rounded w-150px" src="assets/media/stock/600x400/img-31.jpg">
                                        </div>
                                        <div class="overlay-layer bg-dark bg-opacity-10 rounded">
                                            <a href="#" class="btn btn-sm btn-primary btn-shadow">Explore</a>
                                        </div>
                                    </div>
                                    <div class="overlay">
                                        <div class="overlay-wrapper">
                                            <img alt="img" class="rounded w-150px" src="assets/media/stock/600x400/img-40.jpg">
                                        </div>
                                        <div class="overlay-layer bg-dark bg-opacity-10 rounded">
                                            <a href="#" class="btn btn-sm btn-primary btn-shadow">Explore</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-line w-40px"></div>
                        <div class="timeline-icon symbol symbol-circle symbol-40px">
                            <div class="symbol-label bg-light">
                                <i class="ki-outline ki-flag fs-2 text-gray-500"></i>
                            </div>
                        </div>
                        <div class="timeline-content mb-10 mt-n2">
                            <div class="overflow-auto pe-3">
                                <div class="fs-5 fw-semibold mb-2">Yalın danışmanlık kapsamında Kıvanç Tekstil firmasına ziyarete gidildi.</div>
                                <div class="fs-5 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                <div class="d-flex align-items-center mt-1 fs-6">
                                    <div class="text-muted me-2 fs-7">02.05.2023 16.30</div>
                                    <a href="#" class="text-primary fw-bold me-1">2 Saat</a>
                                    <span class="badge badge-warning text-white">Toplantı</span>
                                    <span class="badge badge-light text-muted">%100 Tamamlandı</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-line w-40px"></div>
                        <div class="timeline-icon symbol symbol-circle symbol-40px">
                            <div class="symbol-label bg-light">
                                <i class="ki-outline ki-disconnect fs-2 text-gray-500"></i>
                            </div>
                        </div>
                        <div class="timeline-content mb-10 mt-n1">
                            <div class="mb-5 pe-3">
                                <a href="#" class="fs-5 fw-semibold text-gray-800 text-hover-primary mb-2" >3 Yeni kanıt dosyası yüklendi:</a>
                                <div class="d-flex align-items-center mt-1 fs-6">
                                    <div class="text-muted me-2 fs-7">01-01-2023 tarihinde saat 13.30'da yüklendi.</div>
                                    <div class="symbol symbol-circle symbol-25px" data-bs-toggle="tooltip" data-bs-boundary="window" data-bs-placement="top" title="Jan Hummer">
                                        <img src="assets/media/avatars/300-23.jpg" alt="img" />
                                    </div>
                                </div>
                            </div>
                            <div class="overflow-auto pb-5">
                                <div class="d-flex align-items-center border border-dashed border-gray-300 rounded min-w-700px p-5">
                                    <div class="d-flex flex-aligns-center pe-10 pe-lg-20">
                                        <img alt="" class="w-30px me-3" src="assets/media/svg/files/pdf.svg" />
                                        <div class="ms-1 fw-semibold">
                                            <a href="../../demo30/dist/apps/projects/project.html" class="fs-6 text-hover-primary fw-bold">Toplantı kanıt dosyası-1</a>
                                            <div class="text-gray-400">1.9mb</div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-aligns-center pe-10 pe-lg-20">
                                        <img alt="../../demo30/dist/apps/projects/project.html" class="w-30px me-3" src="assets/media/svg/files/doc.svg" />
                                        <div class="ms-1 fw-semibold">
                                            <a href="#" class="fs-6 text-hover-primary fw-bold">Toplantı kanıt dosyası-2</a>
                                            <div class="text-gray-400">18kb</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer py-5 text-center" id="kt_activities_footer">
            <a href="javascript:void(0)" class="btn btn-bg-body text-primary" onclick="GetModalWorkHours(0)">
                Yeni Çalışma Ekle
                <i class="ki-outline ki-arrow-right fs-3 text-primary"></i>
            </a>
            <a href="javascript:void(0)" class="btn btn-bg-body text-primary" onclick="GetModalArgument(0)">
                Yeni Kanıt Ekle
                <i class="ki-outline ki-arrow-right fs-3 text-primary"></i>
            </a>
            <a href="javascript:void(0)" class="btn btn-bg-body text-primary" onclick="XYZ(0)">
                Yeni Toplantı Ekle
                <i class="ki-outline ki-arrow-right fs-3 text-primary"></i>
            </a>
        </div>
    </div>
</div>