@{
    Layout = "_AuthLayout";
}
@model LoginViewModel

@if (Model.EnableLocalLogin)
{
    <form class="form w-100" asp-route="Login">

        <div class="text-center mb-10">
            <h1 class="text-gray-900 mb-3">Giriş Yap</h1>
            <div class="text-gray-500 fw-semibold fs-4">
                Henüz kullanıcı bilgileriniz bulunmuyorsa,
                <a href="/sign-up?returnUrl=@System.Net.WebUtility.UrlEncode(Model.ReturnUrl)" class="link-primary fw-bold">kayıt olabilirsiniz.</a>
            </div>
        </div>

        <input type="hidden" asp-for="ReturnUrl" />

        <div class="fv-row mb-8">
            <partial name="_ValidationSummary" />
        </div>
        <div class="fv-row mb-8">
            <label class="form-label fs-6 fw-bold text-gray-900">Email</label>
            <input type="text" placeholder="Email" asp-for="Email" autocomplete="off" class="form-control bg-transparent" />
        </div>
        <div class="fv-row mb-3">
            <div class="d-flex flex-stack mb-2">
                <label class="form-label fw-bold text-gray-900 fs-6 mb-0">Password</label>
                <a href="/password-reset?returnUrl=@System.Net.WebUtility.UrlEncode(Model.ReturnUrl)" class="link-primary fs-6 fw-bold"> Parolanızı mı unuttunuz ? </a>
            </div>
            <input type="password" placeholder="Şifre" asp-for="Password" autocomplete="off" class="form-control bg-transparent" />

        </div>
        <div class="d-grid mb-10">
            <button class="btn btn-primary" name="button" value="login">Giriş Yap</button>
        </div>
        
        <!-- Language Icon
            <div class="text-center">
                <div class="text-center text-muted text-uppercase fw-bold mb-5">or</div>
                <a href="#" class="btn btn-flex flex-center btn-light btn-lg w-100 mb-5">
                    <img alt="Logo" src="/assets/media/svg/brand-logos/google-icon.svg" class="h-20px me-3"> Continue with Google
                </a>
                <a href="#" class="btn btn-flex flex-center btn-light btn-lg w-100 mb-5">
                    <img alt="Logo" src="/assets/media/svg/brand-logos/facebook-4.svg" class="h-20px me-3"> Continue with Facebook
                </a>
                <a href="#" class="btn btn-flex flex-center btn-light btn-lg w-100">
                    <img alt="Logo" src="/assets/media/svg/brand-logos/apple-black.svg" class="h-20px me-3"> Continue with Apple
                </a>
            </div>
        -->
    </form>
}

@if (Model.VisibleExternalProviders.Any())
{
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2>External Account</h2>
            </div>
            <div class="card-body">
                <ul class="list-inline">
                    @foreach (var provider in Model.VisibleExternalProviders)
                    {
                        <li class="list-inline-item">
                            <a class="btn btn-secondary"
                               asp-controller="External"
                               asp-action="Challenge"
                               asp-route-scheme="@provider.AuthenticationScheme"
                               asp-route-returnUrl="@Model.ReturnUrl">
                                @provider.DisplayName
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}

@if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
{
    <div class="alert alert-warning">
        <strong>Invalid login request</strong>
        There are no login schemes configured for this request.
    </div>
}

@section Scripts {

    <script src="assets/js/custom/authentication/sign-in/general.js"></script>
}