@{
    Layout = "_AuthLayout";
}
@model RegisterViewModel

<form asp-action="Register" method="post" enctype="multipart/form-data">

    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

    <div class="fv-row mb-8">
        <partial name="_ValidationSummary" />
    </div>

    <div class="text-center mb-11">
        <h1 class="text-dark fw-bolder mb-3">Kayıt Ol</h1>
        <div class="text-gray-500 fw-semibold fs-6">
            Buradan kaydolabilir ve ADASO Merkezi Kimlik Yönetimi üzerinden size uygun uygulamalara erişebilirsiniz.
        </div>
    </div>

    <!-- Name -->
    <div class="fv-row mb-8">
        <input type="text" placeholder="Ad" asp-for="Name" autocomplete="off" class="form-control bg-transparent" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <!-- Surname -->
    <div class="fv-row mb-8">
        <input type="text" placeholder="Soyad" asp-for="Surname" autocomplete="off" class="form-control bg-transparent" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <!-- Email -->
    <div class="fv-row mb-8">
        <input type="text" placeholder="Email" asp-for="Email" autocomplete="off" class="form-control bg-transparent" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <!-- Password -->
    <div class="fv-row mb-8" data-kt-password-meter="true">
        <div class="position-relative mb-3">
            <input class="form-control bg-transparent" type="password" placeholder="Şifre" asp-for="Password" autocomplete="off" />
            <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                <i class="ki-outline ki-eye-slash fs-2"></i>
                <i class="ki-outline ki-eye fs-2 d-none"></i>
            </span>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
        </div>
        <div class="text-muted">En az 8 karakter kullanın, harf, sayı ve sembollerle karışık.</div>
    </div>

    <!-- Confirm Password -->
    <div class="fv-row mb-8">
        <input placeholder="Şifre Tekrar" asp-for="ConfirmPassword" type="password" autocomplete="off" class="form-control bg-transparent" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <!-- Terms Checkbox -->
    <div class="fv-row mb-8">
        <label class="form-check form-check-inline">
            <input type="checkbox" id="AcceptTerms" name="AcceptTerms" class="form-check-input" value="true" />

            <span class="form-check-label fw-semibold text-gray-700 fs-base ms-1">
                Kullanıcı sözleşmesini kabul ediyorum
                <a target="_blank" href="http://bit.ly/ADASO-Aydinlatma-Metni" class="ms-1 link-primary">Kullanım Şartları</a>
            </span>
        </label>
        <span id="AcceptTermsValidation" class="text-danger"></span>
    </div>
    <!-- Submit Button -->
    <div class="d-grid mb-10">
        <button type="submit" class="btn btn-primary">
            <span class="indicator-label">Kayıt Ol</span>
            <span class="indicator-progress">
                Lütfen bekleyin...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
    </div>

    <div class="text-gray-500 text-center fw-semibold fs-6">
        Hesabınız var mı?<br />
        <a href="/account/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(Model.ReturnUrl)" class="link-primary fw-semibold">Giriş Yap</a>
    </div>
</form>
    @section Scripts {
        <script src="~/assets/js/customjs.js"></script>

        <partial name="_ValidationScriptsPartial" />
 
    }
 