@using ADASOIdentityServer.AuthServer.Quickstart.Account
@{
    Layout = "_AuthLayout";
}
@model LoginViewModel
<div class="mb-14">
    <a href="/metronic8/demo30/index.html" class="">
        <img src="~/assets/media/logos/adasologo_dark.png" class="h-90px" />
        
    </a>
</div>

<h1 class="fw-bolder text-gray-900 mb-5">
    Parolanız değiştirildi
</h1>

<div class="fs-6 fw-semibold text-gray-500 mb-10">
    Aşağıdaki email adresine  <br>
    ait parola başarıyla değiştirildi:

    <a href="#" class="link-primary fw-semibold">@Model?.Email</a> <br>
</div>

<div class="mb-11">
    <a href="@Model?.ReturnUrl" class="btn btn-sm btn-primary">Giriş Yap</a>
</div>

<div class="mb-0">
    <img src="/metronic8/demo30/assets/media/auth/ok.png" class="mw-100 mh-300px theme-light-show" alt="">
    <img src="/metronic8/demo30/assets/media/auth/ok-dark.png" class="mw-100 mh-300px theme-dark-show" alt="">
</div>

