<div id="kt_subprocess" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="subprocess" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'lg': '500px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_subprocess_toggle" data-kt-drawer-close="#kt_subprocess_close">
    <div class="card shadow-none border-0 rounded-0">
        <div class="card-header" id="kt_subprocess_header">
            <h3 class="card-title fw-bold text-dark">
                Alt Süreçlerinizi Tanımlayınız
            </h3>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon btn-active-light-primary me-n5" id="kt_subprocess_close">
                    <i class="ki-outline ki-cross fs-1"></i>
                </button>
            </div>
        </div>
        <div class="card-body position-relative" id="kt_subprocess_body">
            <div id="kt_subprocess_scroll" class="position-relative scroll-y me-n5 pe-5" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_subprocess_body" data-kt-scroll-dependencies="#kt_subprocess_header, #kt_subprocess_footer" data-kt-scroll-offset="5px">
                <div class="w-100 p-5">
                    <div class="pb-10 pb-lg-15">
                        @*<h2 class="fw-bold text-dark"></h2>*@
                        <div class="text-muted fw-semibold fs-6">
                            Bu alanda alt süreçlerinizi, alt süreçlerinizi ve KPI bilgilerinizi girmeniz istenecektir.
                            <a href="#" class="text-primary fw-bold">Help Page</a>.
                        </div>
                    </div>

                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <input type="text" class="form-control form-control-solid" placeholder="" name="card_name" value="Başlık">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>

                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <textarea class="form-control form-control-solid" placeholder="" name="card_name" value="Açıklama">Açıklama</textarea>
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                                <input type="text" class="form-control form-control-solid" placeholder="" name="card_name" value="Tahmini Süre(dk)">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                                <input type="text" class="form-control form-control-solid" placeholder="" name="card_name" value="Teorik Süre(dk)">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                                <input type="text" class="form-control form-control-solid" placeholder="" name="card_name" value="Uygulama Süre(dk)">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column mb-3 fv-row fv-plugins-icon-container">
                        <button type="button" class="btn btn-warning">Alt Süreç Ekle</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer py-5 text-center" id="kt_subprocess_footer">
@*            <a href="javascript:void(0)" class="btn btn-bg-body text-primary" onclick="GetModalWorkHours(0)">
                Yeni Çalışma Ekle
                <i class="ki-outline ki-arrow-right fs-3 text-primary"></i>
            </a>
            <a href="javascript:void(0)" class="btn btn-bg-body text-primary" onclick="GetModalArgument(0)">
                Yeni Kanıt Ekle
                <i class="ki-outline ki-arrow-right fs-3 text-primary"></i>
            </a>
            <a href="javascript:void(0)" class="btn btn-bg-body text-primary" onclick="XYZ(0)">
                Yeni Toplantı Ekle
                <i class="ki-outline ki-arrow-right fs-3 text-primary"></i>
            </a>*@
        </div>
    </div>
</div>