@model UdemyIdentityServer.Database.Models.Users

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="ModalCreateGoal" class="app-content">
    @await Component.InvokeAsync("DashBoardNavbar")
    <div class="d-flex flex-wrap flex-stack my-1">
        <h3 class="fw-bold my-2">
            Düzenle
        </h3>
        <div class="d-flex my-2">
            <a class='btn btn-primary btn-sm fw-bolder' asp-action="Index">Geri</a>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="RoleId" class="control-label">Rol</label>
                        <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PersonelTitleId" class="control-label">Personel Ünvanı</label>
                        <select asp-for="PersonelTitleId" class="form-control" asp-items="ViewBag.PersonelTitleId"></select>
                        <span asp-validation-for="PersonelTitleId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DepartmentId" class="control-label">Departman</label>
                        <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConsultantId" class="control-label">Danışmanlığı</label>
                        <select asp-for="ConsultantId" class="form-control" asp-items="ViewBag.ConsultantId"></select>
                        <span asp-validation-for="ConsultantId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">İsim</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label">Soyisim</label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Mail</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Şifre</label>
                        <div class="input-group">
                            <input asp-for="Password" id="passwordInput" class="form-control" />
                            <button type="button" class="btn btn-outline-secondary" onclick="generatePassword()">Generate</button>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="control-label">Ülke</label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label">Şehir</label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Avatar" class="control-label">Profil Fotoğrafı</label>
                        <input asp-for="Avatar" class="form-control" />
                        <span asp-validation-for="Avatar" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TobbUyelikOid" class="control-label"></label>
                        <input asp-for="TobbUyelikOid" class="form-control" />
                        <span asp-validation-for="TobbUyelikOid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Güncelle" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function generatePassword(length = 12) {
            const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@@#$%^&*()_+";
            let password = "";
            for (let i = 0; i < length; i++) {
                const randomIndex = Math.floor(Math.random() * charset.length);
                password += charset[randomIndex];
            }
            document.getElementById("passwordInput").value = password;
        }
    </script>
}
@await Component.InvokeAsync("DrawerMainProcess")
@await Component.InvokeAsync("DrawerSubProcess")
@await Component.InvokeAsync("DrawerAttachmentProcess")
@await Component.InvokeAsync("DrawerKPIProcess")
@await Component.InvokeAsync("DrawerSurveyProcess")


