<div class="modal fade" id="kt_modal_create_company" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-900px">

        <div class="modal-content">

            <div class="modal-header">

                <h2>Yeni Firma Bilgileri</h2>


                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <i class="ki-outline ki-cross fs-1"></i>
                </div>

            </div>

            <div class="modal-body py-lg-10 px-lg-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12   ">
                            <div class="card">
                                <div class="card-body">
                                    <form  method="post">
@*                                        <div class="form-group">
                                            <label for="id">ID:</label>
                                            <input type="text" class="form-control" id="id" name="id">
                                        </div>
*@
                                        <div class="form-group">
                                            <label for="unvan">Ünvan:</label>
                                            <input type="text" class="form-control" id="unvan" name="unvan">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email Adresi:</label>
                                            <input type="email" class="form-control" id="email" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="url">Web Adresi:</label>
                                            <input type="text" class="form-control" id="url" name="url">
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Telefon Numarası:</label>
                                            <input type="tel" class="form-control" id="phone" name="phone">
                                        </div>

                                        <div class="form-group">
                                            <label for="vergi">Vergi Numarası:</label>
                                            <input type="text" class="form-control" id="vergi" name="vergi">
                                        </div>
                                        <div class="form-group">
                                            <label for="adres">Adres:</label>
                                            <input type="text" class="form-control" id="adress" name="adress">
                                        </div>

                                        <div class="form-group">
                                            <label for="meslek_grubu">Meslek Grubu:</label>
                                            <select class="form-control" id="meslek_grubu" name="meslek_grubu">
                                                <option value="0">Tüm Meslek Gruplari</option>
                                                <option value="1">01 - Pamuk İşleme-Çırçır Ve Sawgın Prese Sanayi</option>
                                                <option value="2">02 - İnşaat Malzemeleri-Metalik Olmayan Mineral Ürünler Sanayi</option>
                                                <option value="3">03 - Gıda Sanayi</option>
                                                <option value="4">04 - Hazır Yemek Sanayi</option>
                                                <option value="5">05 - Konfeksiyon Ve Ayakkabıcılar Sanayi</option>
                                                <option value="6">06 - Maden Ve Taşocakçılığı Sanayi</option>
                                                <option value="7">07 - Tekstil Sanayi</option>
                                                <option value="8">08 - Ağaç Ürünleri Sanayi</option>
                                                <option value="9">09 - Kağıt-Ambalaj Ve Basım Sanayi</option>
                                                <option value="10">10 - Kimya Sanayi</option>
                                                <option value="11">11 - Plastik Ve Kauçuk Ürünleri Sanayi</option>
                                                <option value="12">12 - Plastik Ambalaj Sanayi</option>
                                                <option value="13">13 - Metal İşleme Ve Kaplama Sanayi</option>
                                                <option value="14">14 - Döküm-Geri Dönüşüm Ve Metal Sanayi</option>
                                                <option value="15">15 - Metal Ve Metal Yan Sanayi</option>
                                                <option value="16">16 - Elektrik-Otomasyon Ve Enerji Sanayi</option>
                                                <option value="17">17 - Makina İmalat Ve Taahhüt Sanayi</option>
                                                <option value="18">18 - Tarım Makinaları Ve Teknolojılerı Sanayi</option>
                                                <option value="19">19 - Motorlu Kara Taşıtları Ve Otomotiv Yan Sanayi</option>
                                                <option value="20">20 - Mobilya İmalat Sanayi</option>
                                                <option value="21">21 - İnşaat Müteahhitliği</option>
                                                <option value="22">22 - Özel İnşaat Faaliyetleri</option>
                                                <option value="23">23 - Otomotiv Ve Motor Yenileme Sanayi</option>
                                            </select>
                                            
                                        </div>

                                        <div class="form-group">
                                            <label for="firma_temsilcisi">Firma Temsilcisi:</label>
                                            <input type="text" class="form-control" id="firma_temsilcisi" name="firma_temsilcisi">
                                        </div>

                                        <div class="form-group">
                                            <label for="calisan_sayisi">Çalışan Sayısı:</label>
                                            <input type="number" class="form-control" id="calisan_sayisi" name="calisan_sayisi">
                                        </div>

                                        <div class="form-group">
                                            <label for="firma_buyuklugu">Firma Büyüklüğü:</label>
                                            <select class="form-control" id="firma_buyuklugu" name="firma_buyuklugu">
                                                <option value="kucuk">Küçük</option>
                                                <option value="orta">Orta</option>
                                                <option value="buyuk">Büyük</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="description">Açıklama:</label>
                                            <textarea class="form-control" id="description" name="description"></textarea>
                                            
                                        </div>

                                        <button type="submit" class="btn btn-primary float-right mt-5">Formu Gönder</button>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>