<div id="kt_app_toolbar" class="app-toolbar py-6">
    <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex align-items-start">
        <div class="d-flex flex-column flex-row-fluid">

            <div class="d-flex align-items-center pt-1">
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold">

                    <li class="breadcrumb-item text-white fw-bold lh-1">
                        <a href="../../demo30/dist/index.html" class="text-white">
                            <i class="ki-outline ki-home text-white fs-3"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <i class="ki-outline ki-right fs-4 text-white mx-n1"></i>
                    </li>

                    <li class="breadcrumb-item text-white fw-bold lh-1">Danışman Platformu</li>

                </ul>
            </div>
            <div class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-4 gap-lg-10 pt-6 pb-18 py-lg-13">

                <div class="page-title d-flex align-items-center me-3">
                    
                    <img alt="Logo" class="h-60px me-5"  src="~/assets/media/features-logos/datatables.png" />
                    <h1 class="page-heading d-flex text-white fw-bolder fs-2 flex-column justify-content-center my-0">
                        Adaso Advisor
                        <span class="page-desc text-white opacity-50 fs-6 fw-bold pt-4">
                            Adaso Advisor, kullanıcılara kişisel ve profesyonel hedeflerine ulaşmaları <br />için uzman danışmanlarla çalışma imkanı sunar.
                        </span>
                    </h1>

                </div>

                <div class="d-flex gap-4 gap-lg-13">

                    <div class="d-flex flex-column">

                        <span class="text-white fw-bold fs-3 mb-1">234</span>

                        <div class="text-white opacity-50 fw-bold">Toplam teşvik başvuru tutarı</div>

                    </div>

                    <div class="d-flex flex-column">
                        <span class="text-white fw-bold fs-3 mb-1">148</span>

                        <div class="text-white opacity-50 fw-bold">Kabul edilen teşvik tutarı</div>

                    </div>

                    <div class="d-flex flex-column">

                        <span class="text-white fw-bold fs-3 mb-1">25.8%</span>

                        <div class="text-white opacity-50 fw-bold">Anlatılan teşvik</div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>