@model IEnumerable<UdemyIdentityServer.Database.Models.Roles>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/assets/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <style>
    </style>
}
<div id="ModalCreateGoal" class="app-content">
    @await Component.InvokeAsync("DashBoardNavbar")
    <div class="d-flex flex-wrap flex-stack my-1">
        <h3 class="fw-bold my-2">
            Kullanıcı Rolleri
        </h3>
        <div class="d-flex my-2">
            <a href="/Users/Create" class='btn btn-primary btn-sm fw-bolder'>Kullanıcı Oluştur</a>
            <a class='btn btn-secondary btn-sm fw-bolder' asp-action="Create">Yeni Rol Ekle</a>
        </div>
    </div>
    <div class="card">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <label>Rol</label>
                    </th>
                    <th class="text-end">
                        İşlemler
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="text-end">
                            <a asp-action="Edit" asp-route-id="@item.Id" title="Düzenle">
                                <i class="fa fa-edit fs-2"></i>
                            </a>
                            |
                            <a asp-action="Details" asp-route-id="@item.Id" title="Detaylar">
                                <i class="fa fa-arrow-right fs-2"></i>
                            </a>
                            |
                            <a asp-action="Delete" asp-route-id="@item.Id" title="Sil">
                                <i class="fa fa-remove fs-2"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


@await Component.InvokeAsync("DrawerMainProcess")
@await Component.InvokeAsync("DrawerSubProcess")
@await Component.InvokeAsync("DrawerAttachmentProcess")
@await Component.InvokeAsync("DrawerKPIProcess")
@await Component.InvokeAsync("DrawerSurveyProcess")

@section scripts {



}

